<script>
	var data_sensor_latest = (function() {
	var data_sensor_latest = null;
	$.ajax({
		'async': false,
		'global': false,
		'url': "./api/data_sensor_latest.json",
		'dataType': "json",
		'success': function(data) {
			data_sensor_latest = data;
			}
		});
		return data_sensor_latest;
	})();

  document.getElementById("nilai_suhu").innerHTML = data_sensor_latest[0].latest_suhu;
	  document.getElementById("nilai_kelembaban").innerHTML = data_sensor_latest[0].latest_kelembaban;
		  document.getElementById("nilai_debu").innerHTML = data_sensor_latest[0].latest_debu;
			  document.getElementById("data_terakhir_tanggal").innerHTML = data_sensor_latest[0].latest_tanggal;

</script>
<div class="p-a white lt box-shadow">
	<div class="row">
		<div class="col-sm-6">
			<h4 class="mb-0 _300">Welcome to {{app.name}}</h4>
			<small class="text-muted">Your Solution <strong>for </strong>Your Clothing Space</small>
		</div>
	</div>
</div>
<div class="padding">
	<section id="features">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-7 ">
            <!-- <div class="row" id="sensor_offline" style="display: none;">
              <div class="col-lg-12 col-md-12 box wow fadeInLeft" style="visibility: hidden; animation-name: none;">
                <div class="icon">
                    <i class="ion-ios-cloudy"></i>
                </div>
                <h4 class="title"><a href="">Whoops . . . Sensor offline!</a></h4>
                <p class="description">Saat ini Anda tidak dapat melakukan monitoring, sensor dalam keadaan offline. Untuk informasi lebih lanjut silakan hubungi melalui kontak yang tersedia. Terima kasih.</p>
              </div>
            </div> -->
            <div class="row" id="sensor_online" style="">
              <div class="col-lg-12 col-md-12 box wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <p class="description">Data from sensors at <span id="data_terakhir_tanggal"></span></p>
              </div>
              <div class="col-lg-4 col-md-6 box wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                <div class="icon">
                    <i class="ion-thermometer"></i>
                    <h2><span id="nilai_suhu"></span><sup> o</sup>C</h2>
                </div>
                <h4 class="title"><a href="">Temperature</a></h4>
                <p class="description"></p>
              </div>
              <div class="col-lg-4 col-md-6 box wow fadeInRight" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInRight;">
                <div class="icon">
                    <i class="ion-ios-snowy"></i>
                    <h2><span id="nilai_kelembaban"></span> %</h2>
                </div>
                <h4 class="title"><a href="">Humidity</a></h4>
                <p class="description"></p>
              </div>
							<div class="col-lg-4 col-md-6 box wow fadeInRight" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInRight;">
								<div class="icon">
										<i class="ion-ios-snowy"></i>
										<h2><span id="nilai_debu"></span></h2>
								</div>
								<h4 class="title"><a href="">Dust Level</a></h4>
								<p class="description"></p>
							</div>
            </div>
          </div>
        </div>
      </div>
    </section>
	<div class="row">
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-4">
	        <div class="box">
	          <div class="box-header">
	            <h3>Temperature</h3>
	            <small>Calculated in last 30 days</small>
	          </div>
	          <div class="box-tool">
		        <ul class="nav">
		          <li class="nav-item inline">
		            <a class="nav-link">
		              <i class="material-icons md-18">&#xe863;</i>
		            </a>
		          </li>
		          <li class="nav-item inline dropdown">
		            <a class="nav-link" data-toggle="dropdown">
		              <i class="material-icons md-18">&#xe5d4;</i>
		            </a>
		            <div class="dropdown-menu dropdown-menu-scale pull-right">
		              <a class="dropdown-item" href>This week</a>
		              <a class="dropdown-item" href>This month</a>
		              <div class="dropdown-divider"></div>
		              <a class="dropdown-item">Today</a>
		            </div>
		          </li>
		        </ul>
		      </div>
	          <div class="box-body">
	          	<div class="text-center m-b">
	          		<div class="btn-group" data-toggle="buttons">
					  <label class="btn btn-sm white">
					    <input type="radio" name="options" autocomplete="off"> Today
					  </label>
					  <label class="btn btn-sm white">
					    <input type="radio" name="options" autocomplete="off"> Month
					  </label>
					</div>
	          	</div>
	            <div ui-jp="plot" ui-refresh="app.setting.color" ui-options="
	              [
	                { data: {{p_l_5}},
	                  points: { show: true, radius: 0},
                  	  splines: { show: true, tension: 0.45, lineWidth: 2, fill: 1 }
	                },
	                { data: {{p_l_4}},
	                  points: { show: true, radius: 0},
                  	  splines: { show: true, tension: 0.45, lineWidth: 2, fill: 1 }
	                },
	                { data: {{p_l_3}},
	                  points: { show: true, radius: 0},
                  	  splines: { show: true, tension: 0.45, lineWidth: 2, fill: 1 }
	                }
	              ],
	              {
	                colors: ['{{app.setting.color.accent}}','{{app.setting.color.primary}}','{{app.setting.color.warn}}'],
	                series: { shadowSize: 3 },
	                xaxis: { show: true, font: { color: '#ccc' }, position: 'bottom' },
	                yaxis:{ show: true, font: { color: '#ccc' }},
	                grid: { hoverable: true, clickable: true, borderWidth: 0, color: 'rgba(120,120,120,0.5)' },
	                tooltip: true,
	                tooltipOpts: { content: 'Tanggal %x Suhu Rerata %y',  defaultTheme: false, shifts: { x: 0, y: -40 } }
	              }
	            " style="height:188px" >
	            </div>
	          </div>
	        </div>
	    </div>
	    <div class="col-sm-6 col-md-4">
	        <div class="box">
	          <div class="box-header">
	            <h3>Humidity</h3>
	            <small>Calculated in last 30 days</small>
	          </div>
	          <div class="box-tool">
		        <ul class="nav">
		          <li class="nav-item inline">
		            <a class="nav-link">
		              <i class="material-icons md-18">&#xe863;</i>
		            </a>
		          </li>
		          <li class="nav-item inline dropdown">
		            <a class="nav-link" data-toggle="dropdown">
		              <i class="material-icons md-18">&#xe5d4;</i>
		            </a>
		            <div class="dropdown-menu dropdown-menu-scale pull-right">
		              <a class="dropdown-item" href>This week</a>
		              <a class="dropdown-item" href>This month</a>
		              <div class="dropdown-divider"></div>
		              <a class="dropdown-item">Today</a>
		            </div>
		          </li>
		        </ul>
		      </div>
	          <div class="box-body">
	          	<div class="text-center m-b">
	          		<div class="btn-group" data-toggle="buttons">
					  <label class="btn btn-sm rounded white">
					    <input type="radio" name="options" autocomplete="off"> Today
					  </label>
					  <label class="btn btn-sm rounded white">
					    <input type="radio" name="options" autocomplete="off"> Month
					  </label>
					</div>
	          	</div>
	            <div ui-jp="plot" ui-refresh="app.setting.color" ui-options="
	              [
	                { data: {{p_b_1}} }
	              ],
	              {
	                bars: { show: true, fill: true,  barWidth: 0.25, lineWidth: 1, fillColor: { colors: [{ opacity: 0.8 }, { opacity: 1}] }, align: 'center' },
	                colors: ['{{app.setting.color.accent}}'],
	                series: { shadowSize: 3 },
	                xaxis: { show: true, font: { color: '#ccc' }, position: 'bottom' },
	                yaxis:{ show: true, font: { color: '#ccc' }},
	                grid: { hoverable: true, clickable: true, borderWidth: 0, color: 'rgba(120,120,120,0.5)' },
	                tooltip: true,
	                tooltipOpts: { content: 'Tanggal %x Kelembaban Rerata %y',  defaultTheme: false, shifts: { x: 0, y: -40 } }
	              }
	            " style="height:188px" >
	            </div>
	          </div>
	        </div>
	    </div>
	    <div class="col-sm-12 col-md-4">
	    	<div class="box">
	          <div class="box-header">
	            <h3>Dust Level</h3>
	            <small>Calculated in last 30 days</small>
	          </div>
	          <div class="box-tool">
		        <ul class="nav">
		          <li class="nav-item inline">
		            <a class="nav-link">
		              <i class="material-icons md-18">&#xe863;</i>
		            </a>
		          </li>
		          <li class="nav-item inline dropdown">
		            <a class="nav-link" data-toggle="dropdown">
		              <i class="material-icons md-18">&#xe5d4;</i>
		            </a>
		            <div class="dropdown-menu dropdown-menu-scale pull-right">
		              <a class="dropdown-item" href>This week</a>
		              <a class="dropdown-item" href>This month</a>
		              <div class="dropdown-divider"></div>
		              <a class="dropdown-item">Today</a>
		            </div>
		          </li>
		        </ul>
		      </div>
	          <div class="box-body">
	          	<div class="text-center m-b">
	          		<div class="btn-group" data-toggle="buttons">
					  <label class="btn btn-sm rounded white">
					    <input type="radio" name="options" autocomplete="off"> Today
					  </label>
					  <label class="btn btn-sm rounded white">
					    <input type="radio" name="options" autocomplete="off"> Month
					  </label>
					</div>
	          	</div>
		    	<div ui-jp="plot" ui-refresh="app.setting.color" ui-options="
	              [
	                { data: {{p_b_2}} }
	              ],
	              {
	                bars: { horizontal: true, show: true, fill: true,  barWidth: 0.3, lineWidth: 1, fillColor: { colors: [{ opacity: 0.8 }, { opacity: 1}] }, align: 'center' },
	                colors: ['{{app.setting.color.primary}}'],
	                series: { shadowSize: 3 },
	                xaxis: { show: true, font: { color: '#ccc' }, position: 'bottom' },
	                yaxis:{ show: true, font: { color: '#ccc' }},
	                grid: { hoverable: true, clickable: true, borderWidth: 0, color: 'rgba(120,120,120,0.5)' },
	                tooltip: true,
	                tooltipOpts: { content: 'Tanggal %x Density Debu Rerata %y',  defaultTheme: false, shifts: { x: 0, y: -40 } }
	              }
	            " style="height:188px" >
	            </div>
	          </div>
	        </div>
	    </div>
	</div>
			</div>
